/* Things that ya gotta start with! In other words, preset settings. */
@charset "UTF-8";
html, body {
  margin:10px;
  font-family:'Lato', sans-serif ;
  scroll-behavior: smooth;
}

/*.dquotes is for double quotes. .squote is for single quotes. Note that they can only be used on the <q> tag which is for quotes.  Credits: https://www.w3.org/2009/cheatsheet/#typo */
q.dquotes {
  quotes: "“" "”";
}
q.squote {
quotes: "’" "’" ;
}

/* Make buttons automatically have the pointy cursor (👆) */
button,a, input[type="button"], summary, input[type="submit"], input[type="checkbox"] {
  cursor:pointer;
  font-family:'Lato', sans-serif ;
}

/* These are for text headings: */
h1.title {
  font-size: 50px; /* Works best on <h1> */
}
h2.second-title {
  font-size: 36px; /* Works best on <h2> */ 
}

/* A b-container adds a solid black border around your content. */
.b-container {
  margin:3px;
  border: 3px solid rgba(0, 0, 0, 0.801) ;
}

/* For profile images, add the class pfp so that it will resize to a profile image size. Note that this is only for images. Code: <img src="#" class="pfp" /> */
img.pfp {
 vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }

/* Grids: .grid-container is a container for .grid-item  */
  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

  /* .unselectable doesn't allow for a user to select the content that has that class. */
.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -moz-user-select: none; /* Mozilla */
}

/* .show makes your content visible, and .hide makes your content invisible but still takes up space on the page. */
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}

/* Tables Styling! 😆 yeah!*/
td, tr, tbody, thead, table, input {
font-size:25px;
font-family:roboto;
border: solid black 3px;
}

/* Credits to colorhexa.com for the colors. */
/* Background Colors */
.bgcolor-orange {background-color:#ff9a00;}
.bgcolor-yellow { background-color:#ffd230;}
.bgcolor-red {background-color:#ff0038;}
.bgcolor-dodger-blue {background-color:#1e90ff;}
.bgcolor-gold {  background-color: #ffd700;}
.bgcolor-peach {  background-color:#ffe5b4;}
.bgcolor-pistachio { background-color:#93c572;}
.bgcolor-powder-blue {  background-color: #b0e0e6;}
.bgcolor-pumpkin {  background-color:#ff7518;}
.bgcolor-ruby {  background-color: #e0115f;}
.bgcolor-salmon {  background-color: #ff8c69;}
.bgcolor-teal {  background-color:#009999;}
.bgcolor-scarlet {  background-color:#ff2400;}
.bgcolor-sapphire {  background-color:#0f52ba;}
.bgcolor-black {  color:#ffffff;  background-color:#000000; }
.bgcolor-white {  background-color: #ffffff;}
.bgcolor-vanilla { background-color: #f3e5ab;}
.bgcolor-purple {  background-color:#800080 ;}
.bgcolor-violet {  background-color:#ee82ee ;}
.bgcolor-ultramarine {  background-color:#120a8f ;}

/* Text Colors */
.txtcolor-orange {color:#ff9a00;}
.txtcolor-yellow {color:#ffd230;}
.txtcolor-red {color:#ff0038;}
.txtcolor-dodger-blue {color:#1e90ff;}
.txtcolor-gold {color: #ffd700;}
.txtcolor-peach {color:#ffe5b4;}
.txtcolor-pistachio {color:#93c572;}
.txtcolor-powder-blue {color: #b0e0e6;}
.txtcolor-pumpkin {color:#ff7518;}
.txtcolor-ruby {color: #e0115f;}
.txtcolor-salmon {color: #ff8c69;}
.txtcolor-teal {color:#009999;}
.txtcolor-scarlet {color:#ff2400;}
.txtcolor-sapphire {color:#0f52ba;}
.txtcolor-black {color:#000000; }
.txtcolor-white {color: #ffffff;}
.txtcolor-vanilla {  color: #f3e5ab;}
.txtcolor-purple {color:#800080 ;}
.txtcolor-violet {color:#ee82ee ;}
.txtcolor-ultramarine {color:#120a8f ;} 

/* Loadin in da fonts, luv! */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Text Fonts */
.comic-sans-ms {font-family: cursive;}
.roboto {font-family: 'Roboto', sans-serif;}
.lato {font-family:'Lato', sans-serif ;}
.times-new-roman {font-family: fantasy;}
#code-span {font-family: monospace;}

